*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
:root{
  --primary-color : #fefefe;
  --secondary-color : #78CCC5;
  --black-color: #010303;
}
html{
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

html :where(h1,h2,h3,h4,h5,h6,a,p){
  color: var(--black-color);
}

body{
  background-color: var(--primary-color);
  min-height: 100%; 

}
.text-white{
  color: var(--primary-color);
}
.text-black{
  color: var(--secondary-color);
}
.text-bold{
  font-weight: bold;
}
/* button:hover {
  
  filter: drop-shadow(1px 1px 2px black);
} */