.searchBarContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin:2em 0;
}
.searchBarInputsContainer{
    display: flex;
    width: 90%;
    gap: 2em;
    flex-wrap: wrap;
}
.searchBarInputs{
    flex: 1;
    padding: .5rem;
    border-radius: .5em;
}
.searchBarButtonsContainer{
    display: flex;
    width: 60%;
    margin: 1em;
    gap: 1em;
}
.searchBarButtons{
    flex: 1;
    padding: .5em;
    border: none;
    font-weight: bold;
    border-radius: .5em;
}
.searchBarButtonsContainer :nth-child(1){
    background-color: var(--secondary-color);
}
.searchBarButtonsContainer :nth-child(2){
    background-color: var(--black-color);
    color: var(--primary-color);
}